// Utility classes
.fw-extra-light {
  font-weight: 200;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.fa-dark {
  color: $dark;
}

.height-100 {
  height: 100%;
}